#app.gb-w-game-screen {
  background: linear-gradient(
    180deg,
    var(--gb-w-turquoise-color) 10%,
    var(--gb-w-brown-color) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.gm-w-game-score-and-timer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.gh-w-game-score {
  color: var(--gh-white-color);
  text-transform: uppercase;
  font-size: 25px;
}
.gh-w-game-minimum-score, .gh-w-game-timer p{
  color: var(--gh-white-color);
  font-weight: 400;
}

/* Game container */
.gh-w-game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: var(--gb-w-brown-color);
  padding: 10px;
  border-radius: 10px;
}

/* Individual Box */
.gh-w-game-box {
  width: 130px;
  height: 130px;
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1703090130/5_GamesHub/Whac_a_mole/Final_Hole_aysdbb.png);
  background-size: cover;
}

/* Buttons */

.gh-w-game-buttons {
  display: flex;
  gap: 30px;
}
.gb-w-game-restart,
.gb-w-game-back {
  background-color: var(--gh-white-color);
  color: var(--gh-dark-blue-color);
  width: 100px;
  height: 35px;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 12px;
  cursor: pointer;
}
.gb-w-game-restart:hover,
.gb-w-game-back:hover {
  background-color: var(--gh-dark-blue-color);
  color: var(--gh-white-color);
}

@media screen and (max-width: 480px) {
  .gh-w-game-box {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 380px) {
    .gh-w-game-box {
      width: 82px;
      height: 82px;
    }
  }
  
